.parent-article {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 5vw;
}

.left-article {
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: left;
    margin-top: 40px;
    min-height: 70vh;
}

.left-article .article-box h3 {
    font-size: 25px;
    margin-bottom: 5px;
    color: var(--primary-text);

}

.left-article .article-box p {
    margin-bottom: 5px;
    color: var(--primary-text);
}

.left-article .article-box button {
    padding: 8px;
    border: none;
    background-color: var(--button-bg);
    color: var(--button-text);
    font-weight: 500;
}

.right-article {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: fit-content;
    text-align: left;
    margin-left: 2vw;
    color: var(--primary-text);
}

.right-article h3 {
    font-size: 25px;
    margin-bottom: 5px;
    padding-top: 25px;

}

.right-article .paragraph {
    margin-bottom: 5px;
    font-weight: 600;

}

.right-article .paragraph-2 {
    color: grey;
}

.article-box {
    padding: 25px 0;
}

@media (max-width: 900px){
    .parent-article {
        flex-direction: column;
    }

        .left-article{
            width: 90vw;
        }
        .right-article{
            align-items: left;
        }
        .left-article .article-box h3 {
            font-size: 25px;
        }
}

@media (max-width: 500px){
        .left-article .article-box h3 {
                font-size: 22px;
            }
}