/* SignupForm.css */
.signupPage {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.signupPage-right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--button-bg);
    border-radius: 35% 0 0 20%;
}

.signupPage-left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-label {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button-label:hover {
    background-color: #2980b9;
}

/* Style for active button */
.button-label.active {
    background-color: #2980b9;
}