:root {
    --primary-bg: #f8f8f8;
    --primary-text: #1b1b1b;
    --secondary-text: #f8f8f8;
    --secondary-bg: #020817;
    --hover-bg: #202020;

    /* Comment Out The below variables to check in light thenme */
    /* Comment Out The below variables to check in light thenme */
    /* Comment Out The below variables to check in light thenme */
    /* Comment Out The below variables to check in light thenme */

    --primary-bg: #020817;
    --primary-text: #f8f8f8;
    --secondary-text: #1b1b1b;
    --secondary-bg: #E5E5E5;
    --hover-bg: #d4d1d1;
}